# Updated 2026-02-14
# Byte-compiled / pycacahe
__pycache__/
*.py[cod]
*$py.class

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Local backup repo folder
ArcReactor.git/
AEGIS-Protocol/
CORE/

# Environments
.vscode
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/