{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}
{% block content %}

<section class="content aegis-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-dark">
                    <div class="card-header">
                        <h3 class="card-title">{{page_title}}</h3>
                    </div>

                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="card-body">



                        <div class="form-group">
                            <label>Course</label>
                            <select name="course" class="form-control" id='course' disabled>
                                <option value="{% if course %}{{ course.id }}{% endif %}">{% if course %}{{ course }}{% else %}----{% endif %}</option>
                            </select>
                            {% if course %}
                            <input type="hidden" id="course_hidden" name="course" value="{{ course.id }}">
                            {% endif %}
                        </div>


                        <div class="form-group">
                            <label>Session Year</label>
                            <select name="session" id='session' class="form-control">
                                <option value="">----</option>
                                {% for session in sessions  %}
                                <option value="{{session.id}}">{{session}} </option>
                                {% endfor %}
                            </select>
                        </div>
                        {% comment %}

                        <div>
                            <label>Attendance Date</label>
                            <input type="date" class='form-control' name="attendance_date" id='attendance_date' id="">
                        </div>
                        {% endcomment %}

                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer">
                        <button type="button" id='fetch_student' class="btn btn-success btn-block">Fetch Students</button>
                        <div class="form-group" id="student_data">

                        </div>
                    </div>
                </div>
                <!-- /.card -->

            </div>
        </div>
    </div>
</section>
{% endblock content %}


{% block custom_js %}
<script>
    $(document).ready(function () {

        function moveSelected(fromSelector, toSelector) {
            var selected = $(fromSelector + " option:selected").toArray()
            $(selected).prop("selected", false)
            $(toSelector).append(selected)
        }

        $(document).on('click', '#move_to_present', function () {
            moveSelected('#absent_list', '#present_list')
            moveSelected('#medical_list', '#present_list')
        })

        $(document).on('click', '#move_to_absent', function () {
            moveSelected('#present_list', '#absent_list')
            moveSelected('#medical_list', '#absent_list')
        })

        $(document).on('click', '#move_to_medical', function () {
            moveSelected('#present_list', '#medical_list')
            moveSelected('#absent_list', '#medical_list')
        })

       
        $("#fetch_student").click(function () {
            var course = "{% if course %}{{ course.id }}{% endif %}"
            var session = $("#session").val()
            $("#student_data").html(null)
if (course.length  == 0 || session.length == 0){
    alert("Please select session and course");
    return false;
}
            $.ajax({
                url: "{% url 'get_students' %}",
                type: 'POST',
                data: {
                    course: course,
                    session: session
                }
            }).done(function (response) {
                var json_data = JSON.parse(response)
                if (json_data.length < 1) {
                    alert("No data to display")
                } else {
                    var all_ids = []
                    var present_options = ""
                    var absent_options = ""
                    var medical_options = ""

                    for (key in json_data) {
                        var option = "<option value='" + json_data[key]['id'] + "'>" + json_data[key]['name'] + "</option>"
                        present_options += option
                        absent_options += option
                        medical_options += option
                        all_ids.push(json_data[key]['id'])
                    }

                    var div_data = "<hr/><div class='form-group'><label>Attendance Date</label><input type='date' class='form-control' name='attendance_date' id='attendance_date'></div>"
                    div_data += "<div class='alert alert-info'>Select students under Present or Medical Leave. Unselected students are marked Absent by default.</div>"
                    div_data += "<div class='d-flex flex-wrap gap-2 mb-3'>"
                    div_data += "<button type='button' id='move_to_present' class='btn btn-outline-success btn-sm'>Move to Present</button>"
                    div_data += "<button type='button' id='move_to_absent' class='btn btn-outline-danger btn-sm'>Move to Absent</button>"
                    div_data += "<button type='button' id='move_to_medical' class='btn btn-outline-primary btn-sm'>Move to Medical</button>"
                    div_data += "<small class='text-muted ms-2'>Select students in a list, then move.</small>"
                    div_data += "</div>"
                    div_data += "<div class='row'>"
                    div_data += "<div class='col-lg-4'><label>Present (Multi-Select)</label><select multiple class='form-control' id='present_list' style='min-height: 200px;'>" + present_options + "</select></div>"
                    div_data += "<div class='col-lg-4'><label>Absent (Multi-Select)</label><select multiple class='form-control' id='absent_list' style='min-height: 200px;'>" + absent_options + "</select></div>"
                    div_data += "<div class='col-lg-4'><label>Medical Leave (Multi-Select)</label><select multiple class='form-control' id='medical_list' style='min-height: 200px;'>" + medical_options + "</select></div>"
                    div_data += "</div>"
                    div_data += "<div class='form-group mt-3'><button id='save_attendance' class='btn btn-success' type='button'>Save Attendance</button></div>"
                    $("#student_data").html(div_data)
                    $("#student_data").data("all_ids", all_ids)
                }
            }).fail(function (response) {
                alert("Error in fetching students")
            })


            $(document).on('click', '#save_attendance', function () {
                $(this).attr("disabled","disabled")
                $(this).text("Saving Attendance Data...")
                var all_ids = $("#student_data").data("all_ids") || []
                var present_ids = $("#present_list").val() || []
                var absent_ids = $("#absent_list").val() || []
                var medical_ids = $("#medical_list").val() || []

                var status_map = {}
                all_ids.forEach(function(id) {
                    status_map[id] = "absent"
                })
                absent_ids.forEach(function(id) {
                    status_map[id] = "absent"
                })
                present_ids.forEach(function(id) {
                    status_map[id] = "present"
                })
                medical_ids.forEach(function(id) {
                    status_map[id] = "medical"
                })

                var student_data = all_ids.map(function(id) {
                    return {'id': id, 'status': status_map[id]}
                })
                var attendance_date = $('#attendance_date').val()
                if (attendance_date.length < 10){
                    alert("Select date")
                    return false;
                }
                student_data = JSON.stringify(student_data)
                $.ajax({
                    url: "{% url 'save_attendance' %}",
                    type: 'POST',
                    data: {
                        date: attendance_date,
                        student_ids: student_data,
                        course: course,
                        session: session
            
                    }
                }).done(function (response) {
                    if (response == 'OK'){
                        alert("Saved")
                    }else{
                        alert("Error. Please try again")
                    }
                    location.reload()
                    
                }).fail(function (response) {
                    alert("Error in saving attendance")
                })
    
            })


        })
    })
</script>
{% endblock custom_js %}
