{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}Library{% endblock page_title %}
{% block content %}

<section class="content aegis-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-dark">
                    <div class="card-header">
                        <h3 class="card-title">Available Books </h3>
                    </div>


                    <!-- /.card-header -->
                    <!-- form start -->
                <div class="card-body">
                    <div class="aegis-callout">
                        <h5><i class="fas fa-book"></i> Library Access</h5>
                        <p>Available books you can issue from the college library.</p>
                    </div>
                    <div class="aegis-table-wrap" style="max-height: 500px;">
                        <table class="table table-bordered table-hover" style="min-width: 600px;">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Sr.No</th>
                                    <th>Book Name</th>
                                    <th>Author</th>
                                    <th>ISBN Number</th>
                                    <th>Category</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for book in books %}
                                <tr>
                                    <td>{{forloop.counter}}.</td>
                                    <td>{{book.name}}</td>
                                    <td>{{book.author}}</td>
                                    <td>{{book.isbn}}</td>
                                    <td>{{book.category}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                    <!-- /.card-body -->

                <!-- /.card -->

            </div>
        </div>
    </div>
</section>
{% endblock content %}


