{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}

{% block content %}

<section class="content aegis-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{{page_title}}</h3>
                    </div>
                    <div class="card-body">
                        <div class="aegis-table-wrap">
                            <table class="table table-bordered table-hover">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>#</th>
                                        <th>Branch Name</th>
                                        <th>Department</th>
                                        <th>Created</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for branch in branches %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ branch.name }}</td>
                                        <td>{{ branch.department }}</td>
                                        <td>{{ branch.created_at|date:"Y-m-d" }}</td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="4">No branches found.</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
